body {
    background-color: #c1bdba;
  }
  
  .card {
    background-color: rgba(19, 35, 47, 0.9);
    border-radius: 10px;
    color: white;
  }
  
  h1 {
    font-weight: 300;
    margin-bottom: 30px;
    color: white;
  }
  
  .form-label span {
    color: #1ab188;
  }
  